h1{
  color:#ca8cad;
  font-size:35px;
}
h2{
  color:#ec7513;
  font-size: 30px;  
}
h3{ color:#ec7513;
  font-size: 30px;
  }
h4{ color:#ec7513;
  font-size: 30px;
  }
p{font-size: 25px;
 }
body{
  background-color:lightyellow
}